body{
    background-image: linear-gradient(to right,rgb(42, 42, 65), black);
   
    align-items: center;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    
}

.titulo{
   margin-right: 50%; 
    display: flex;
    color: #fff;
    font-size: 40px;
    align-items: center;
}

.logo{
  
    height: 150px;
    border-radius: 100px;
    margin-right: 20px;    
}

.nav-list li{
    transition: 0.5s;
    margin-left: 32px;
    letter-spacing: 1px;
}

a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;  
      
}

a:hover {
    background-color: rgb(93, 99, 115);
    border-radius: 10px;
    padding: 10px;
    
}

nav{
    display: flex;
   justify-content: space-around;
   align-items: center;  
   height: 10vh;
}

.barra-pesquisa{
    cursor: pointer;
    display: flex;
    
 margin-left: 10px;
  
    align-items: center;
   
    justify-content: center;    
  }





.nav-list{
    list-style: none;
    display: flex; 
    font-size: 20hv;
}

.mobile-menu{
    cursor: pointer;
    display: none;   
}

.mobile-menu #div{   
    width: 30px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}



.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
   
  }

.nav-list.active{
    transform: translateX(0);
}

.fieldset-1{
    display: flex;
   border:none;
   width: 100px;
}


.clip{
    height: 300px;
    margin-left: 5px;
    margin-right: 10px; 
    border-radius: 10px;
}

.carrossel
{
    padding: 10px;
    width: 900px;
    display: flex;
    overflow-x: auto;
    align-items:center;
    justify-items: center;    
}

.container-carrossel{
    width: 900px;
    display: flex;
    margin-left: 20%;
    
}

legend{
    color: #fff;
    font-size: 30px;
   
}


  .clip:hover  {  
    height: 350px;
    transition: 1s;
    opacity: 0.4;
    cursor: pointer;
    margin-bottom: 0;
   }
 
   .card{
    height: 350px;
    border-radius: 10px;  
    position: flex;
   margin-bottom: 0; 
   }

   .letra{
    height: 0px;
    width: 0px;
    position: relative;
    display: none;
    border-radius: 10px;
    transition: 4s;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    cursor: pointer;
    bottom: -300px;
  
   }
 
.card:hover .letra{
    bottom: 300px;
    display: block;
    left: 30px;
    margin-bottom: 0;

}
.info{
    font-size: 15px;
    width: 200px;
    transition: transform 0.4s ease-in;
}
.info-titulo{
    width: 200px;
    font-size: 20px;
}




.fieldset-2{
    display: flex;
   border:none;
}


.img-novidade{
    height: 250px;

    margin-left: 5px;
    margin-right: 10px; 
    border-radius: 10px;
}

.img-livros{
    height: 250px;

    margin-left: 5px;
    margin-right: 10px; 
    border-radius: 10px;
}

.obras-novidades
{
    padding: 10px;
    width: 900px;
    display: flex;
    overflow-x: auto;
    align-items:center;
    justify-items: center;    
    margin-bottom: 0;
}

.novidades{
    width: 900px;
    display: flex;
    margin-left: 20%;
   
    
}

legend{
    color: #fff;
    font-size: 30px;
   
}


  .img-novidade:hover  {  
    height: 270px;
    height: 250px;
    transition: 1s;
    opacity: 0.4;
    cursor: pointer;
    margin-bottom: 0;
   }
 
   .img-livros:hover  {  
    height: 270px;
    height: 250px;
    transition: 1s;
    opacity: 0.4;
    cursor: pointer;
    margin-bottom: 0;
   }
 

   .card-novidades{
    height: 350px;
    border-radius: 10px;  
    position: flex;
   margin-bottom: 0; 
   }

   .nome{
    height: 0px;
    width: 0px;
    position: relative;
    
    border-radius: 10px;
    transition: 4s;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    cursor: pointer;
   margin-left: 20px;
  
   }
 
.card-novidades:hover .nome{
    bottom: 150px;
    transition: 1s;
    

}
.card-novidades:hover .info-novidade{
    transition: 2s;
    margin-top: 55px;
    display: block;

}
.info-novidade{
    font-size: 15px;
    width: 200px;
    height: 0px;
    transition: transform 0.4s ease-in;
    display: none;
   
}
.nome-novidade{
    transition: 1s;
    height: 0px;
    width: 200px;
    font-size: 18px;
}
.nome-novidade2{
    transition: 1s;
    height: 0px;
    width: 200px;
    font-size: 10px;
    text-align: justify;
}

@media  screen and (max-width: 1020px){
    body{
        overflow-x: hidden;
    
    }
p{
    font-size: 13px;
    
}

    .fieldset-1{
      
        width: 20px;
     
      
    }
    .titulo{
        font-size: 20px;
    }
    .logo{
        width: 90px;
        height: 90px;
    }
    legend{
        font-size: 20px;
    }

    .container-carrossel{
       width: 100px;
        margin-left: 10px;
        
    }
       .card{
        height: 150px;
        width: 300px;
        border-radius: 10px;
        
        margin-left: 10px;
        
       }
 .carrossel
{
    padding: 10px;
    width: 300px;
    display: flex;
    overflow-x: auto;
    align-items:center;
    justify-items: center;    
}

.card:hover .letra{
    bottom: 150px;
    display: block;
    left: 30px;
    margin-bottom: 0;

}
.info{
    font-size: 15px;
    width: 10px;
    transition: transform 0.4s ease-in;
}
.info-titulo{
    width: 200px;
    font-size: 20px;
}

.img-novidade{
    height: 150px;

    margin-left: 5px;
    margin-right: 10px; 
    border-radius: 10px;
}
.img-novidade:hover  {  
    height: 160px;
    transition: 1s;
    opacity: 0.4;
    cursor: pointer;
   }

   .fieldset-2{
    display: flex;
   border:none;
}

       .card:hover{
    
        width: 300px;
        cursor: pointer;
       
        margin-bottom: 100px;
    }
    .card:hover .intro{
        height: 170px;
    
        bottom: 240px;
        background: rgba(46, 49, 65, 0.965);
    }
    .card:hover p{
        visibility: visible;
        opacity: 1;
        width: 250px;
    }
    .card:hover .clip{
       height: 160px;
        transition: 2s;
    }
    .obras-novidades
{
    
    width: 300px;
    display: flex;
    overflow-x: auto;
    align-items:center;
    justify-items: center;    
 
}

.novidades{
    width: 900px;
    display: flex;
    margin-left: 10px;
    
   
    
}

       .clip{
        height: 150px;
        
        
       }
       .img-livros:hover  {  
        height: 270px;
        transition: 1s;
        opacity: 0.4;
        cursor: pointer;
        margin-bottom: 0;
       }
       .intro{
        height: 30px;
        padding: 8px;
        
        border-radius: 10px;
        bottom: 240px;
        background-color: rgba(46, 40, 72, 0.533);
        
        
        
        }

        .nav-list{
            position: absolute;
            top: 8vh;
            right: 0;
            width: 10vh;
            height: 92vh;  
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            transform: translateX(100%);
            transition: transform 0.4s ease-in;
        }
        
        .nav-list li{
            margin-left: 0;
            opacity: 0;
            
        }
    
        .mobile-menu{
            display: block;
            margin-left: 80%;
            margin-bottom: 155px;
        }


} 









  